<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
package="com.amplifyframework.sample">
<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Authhostedui"
    android:name=".auth.hostedui.MainApplication"
    tools:replace="android:name"
    android:fullBackupContent="@xml/backup_descriptor">
    <activity
        android:name=".auth.hostedui.SignInActivity"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sample.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name=".auth.hostedui.MainActivity"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sample.NoActionBar"/>

    <activity
        android:name="com.amazonaws.mobileconnectors.cognitoauth.activities.CustomTabsRedirectActivity">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="com.amplifyframework.sample.auth.hostedui" />
        </intent-filter>
    </activity>

    <activity
        android:name=".core.SettingsActivity"
        android:label="Profile"
        android:theme="@style/Theme.Sample.NoActionBar">
    </activity>
</application>
</manifest>